.input_video {
    display: none;
}

#start-menu {
    position: fixed;
    /* Temporarily Display None */
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999998;
    background: rgba(27, 27, 27, 0.7);
    align-items: center;
    justify-content: center;
}

/* Can merge with above menu */
/* Temporarily Use */
#pause-menu-container {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999998;
    background: rgba(27, 27, 27, 0.7);
    align-items: center;
    justify-content: center;
}

.play-btn {
    background-color: white;
    opacity: 1;
    /* Change Color */
    color: red;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px 5px 15px;
    border-radius: 5%;
    border: transparent;
}

.home-btn {
    position: absolute;
    top: 90px;
    /* Change Color */
    color: Red;
    left: 10px;
    font-size: 20px;
    background-color: transparent;
    border: transparent;
}

/* Animation For Get Ready Function*/
@keyframes fade-inout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fade-text {
    animation: fade-inout 3s infinite;
    opacity: 1;
    font-size: 100px;
    text-align: center;
    display: none;
    /* Change font color */
    color: white;
}

#pause-menu {
    background-color: rgba(235, 235, 235, .5);
    ;
    margin: 5px 10px 5px 10px;
    border-radius: 5%;
    padding-bottom: 15px;
}

.title {
    font-size: 2rem;
    /* Change Color */
    color: white;
    background-color: rgba(100, 100, 100, .5);
    padding: 5px 79px 5px 70px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    text-align: center;
    font-weight: bold;
}

.menu-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-btn {
    min-width: 200px;
    max-width: 200px;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(100, 100, 100, .5);
    margin: 10px 10px 10px 10px;
    font-weight: bold;
    color: white;
    user-select: none;
}

.menu-btn>span {
    padding-left: 20%;
}

.menu-btn>i {
    padding-left: 10px;
    padding-right: 10px
}

canvas {
    position: absolute;
    right: 15px;
    bottom: 24px;
}

.leaderboard-container {
    background: url(/img/leaderboard_bg5.gif) no-repeat center;
    position: absolute;
    height: calc(100vh - 95px);
    width: inherit;
    right: 0;
    color: red;
    background-color: black;
    background-position-y: center;
}

/* Cyberpunk Glitch Style for hover */
.leaderboard-title,
.leaderboard-title::after {
    font-family: pdark;
    height: 43px;
    font-size: 14px;
    background: linear-gradient(45deg, transparent 5%, var(--first-red) 5%);
    border: 0;
    color: var(--light-tone);
    letter-spacing: 3px;
    line-height: 42px;
    box-shadow: 6px 0px 0px #00e6f6;
    outline: transparent;
    position: absolute;
    top: 10px;
    right: 55px;
    padding-right: 5px;
    padding-left: 5px;
}

.leaderboard-title::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: 'Leaderboard';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
}

.leaderboard-title:hover::after {
    animation: 1s glitch infinite;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

/* cyberpunk glitch animation for text */
.cyberpunk-ranking {
    font-family: Triakis;
    color: var(--light-tone);
    position: relative;
    top: 60px;
    font-size: 16px;
    line-height: 32px;
    left: 5px;
    margin-top: 15px;
}

.cyberpunk-ranking:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    left: -2px;
    width: 95%;
    height: 10px;
    background-color: var(--dark-blue);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
}

/* glitch animation */
.cyberpunk-ranking.glitched {
    animation-name: glitched;
    animation-duration: calc(.9s * 1.4);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes glitched {
    0% {
        left: -4px;
        transform: skew(-20deg);
    }

    11% {
        left: 2px;
        transform: skew(0deg);
    }

    50% {
        transform: skew(0deg);
    }

    51% {
        transform: skew(10deg);
    }

    60% {
        transform: skew(0deg);
    }

    100% {
        transform: skew(0deg);
    }
}

.cyberpunk-ranking.glitched:before {
    animation-name: beforeglitched;
    animation-duration: calc(.9s * 2);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes beforeglitched {
    0% {
        left: -4px;
        transform: skew(-20deg);
        clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
    }

    11% {
        left: 2px;
        transform: skew(0deg);
        clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
    }

    50% {
        transform: skew(0deg);
        clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
    }

    51% {
        transform: skew(0deg);
        clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 40% 5px, calc(40% - 30px) 0px, calc(40% + 30px) 0px, calc(45% - 15px) 5px, 100% 5px, 100% 6px, calc(45% - 14px) 6px, calc(40% + 29px) 1px, calc(40% - 29px) 1px, calc(40% + 1px) 6px, 85px 6px, 80px 10px, 0px 10px);
    }

    60% {
        transform: skew(0deg);
        clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
    }

    100% {
        transform: skew(0deg);
        clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
    }
}

/* Cyberpunk text box */
:root {
    --yellow-color: #f9f002;
    --border-color: #8ae66e;
}

.cyberpunk {
    padding: 5px;
    position: relative;
    font-size: 1.2rem;
    color: var(--yellow-color);
    border: 30px solid var(--yellow-color);
    border-right: 5px solid var(--yellow-color);
    border-left: 5px solid var(--yellow-color);
    border-bottom: 24px solid var(--yellow-color);
    background-color: var(--dark-tone);
    clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
}

.cyberpunk.inverse {
    border: none;
    padding: 40px 15px 30px;
    color: #000;
    background-color: var(--first-red);
    border-right: 2px solid var(--light-blue);
    margin-bottom: 10px;
}

/* .dotted,
.dotted:before,
.dotted:after {
    background: var(--yellow-color);
    background-image: radial-gradient(#00000021 1px, transparent 0);
    background-size: 5px 5px;
    background-position: -13px -3px;
} */

.cyberpunk:before {
    content: "P-14";
    display: block;
    position: absolute;
    bottom: -12px;
    right: 30px;
    padding: 2px 2px 0px 12px;
    font-size: 0.6rem;
    line-height: 0.6rem;
    color: #000;
    background-color: var(--yellow-color);
    border-left: 2px solid var(--light-blue);
}

.cyberpunk.inverse:before {
    content: "T-71";
    right: 30px;
    bottom: 20px;
}

.cyberpunk.inverse:before,
.cyberpunk:before {
    background-color: #000;
    color: var(--first-red);
}

/* End of Cyberpunk text box */
.score-container {
    font-family: 'Triakis';
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    left: 5px;
    margin-bottom: 10px;
}

.score-container-title {
    font-family: pdark;
}

.col-10 {
    background-color: black;
}

.video-container {
    background-color: black;
    height: calc(100vh - 95px);
    display: flex;
    align-items: center;
}

/* Body part accuracy */
.body-part-accuracy-container{
    position:absolute;
    top: 20px;
    left: 15px;
    background-color: black;
    opacity: 0.8;
}

.csRightUpperLimb,
.csLeftUpperLimb,
.csRightLowerLimb,
.csLeftLowerLimb,
.csCore,
.csWholePosture,
.csRightUpperLimb-number,
.csLeftUpperLimb-number,
.csRightLowerLimb-number,
.csLeftLowerLimb-number,
.csCore-number,
.csWholePosture-number {
    font-size:18px !important;
    color:red;
}