.input_video{
    display: none;
}

#start-menu{
    position: fixed;
    /* Temporarily Display None */
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999998;
    background: rgba(27,27,27,0.7);
    align-items: center;
    justify-content: center;
}

/* Can merge with above menu */
/* Temporarily Use */
#pause-menu-container{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999998;
    background: rgba(27, 27, 27, 0.7);
    align-items: center;
    justify-content: center;
}

.play-btn{
    background-color: white;
    opacity: 1;
    /* Change Color */
    color: red;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px 5px 15px;
    border-radius: 5%;
    border: transparent;
}

.home-btn{
    position: absolute;
    top: 90px;
    /* Change Color */
    color: Red;
    left: 10px;
    font-size: 20px;
    background-color: transparent;
    border: transparent;
}

/* Animation For Get Ready Function*/
@keyframes fade-inout{
    0%{opacity: 1;}
    100%{opacity: 0;}
} 

.fade-text{
    animation: fade-inout 3s infinite;
    opacity: 1;
    font-size: 100px;
    text-align: center;
    display: none;
    /* Change font color */
    color: white;
}

#pause-menu{
    background-color: rgba(235, 235, 235, .5);;
    margin: 5px 10px 5px 10px;
    border-radius: 5%;
<<<<<<< HEAD
    height: 200px;
=======
>>>>>>> main
}
.title{
    font-size: 2rem;
    color: white;
    background-color: #7a7c7c;
    padding: 5px 50px 5px 50px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    text-align: center;
}

.menu-btn-container{
    text-align: center;
}

.menu-btn{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-btn > span {
    padding-left: 10px;
    text-align: center;
}

.menu-btn > i {
    padding-left: 10px;
    padding-right: 10px
}
