@import "main.css";

h2 {
    text-align: center;
    margin-top: 30px;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

.search-box {
    width: 400px;
    justify-content: center;
    align-items: center;
}

.song-list-container {
    padding-left: 65px;
}

.song-list-elm {
    display: flex;
    justify-content: center;
    text-align: center;
}

.tab-content {
    display: flex;
    justify-content: center;
}

.tab-content>.active {
    display: flex;
    width: 100%;
    justify-content: center;
}